.review{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px;
}

.reviewHeader{
  display: flex;
  flex-direction: column;
  
  .reviewTitle{
    font-weight: 700;
    font-size: var(--font-l);
  }
  i{    
    font-size: var(--font-xs);
  }
}

.reviewContent{
  /* background-color: white; */
  border-radius: 8px;
  margin: 4px 0;
  padding: 4px;
  height: 80px;
  overflow-y: auto;
  scrollbar-color: var(--main-font) var(--background);
  scrollbar-width: thin;
  font-size: var(--font-s);
}

.bottomRow{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#filled{
  color: var(--sub-font)
}

hr{
  width: 100%;
  color: var(--main-font);
}