.review{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px;
}

.reviewHeader{
  display: flex;    
  justify-content: space-between;
  .reviewTitle{
    font-weight: 700;
  }
  i{    
    font-size: var(--font-xs);
  }
}
.reviewContent{
  /* background-color: white; */
  border-radius: 8px;
  margin: 4px 0;
  padding: 4px;
  height: 80px;
  overflow-y: auto;
  scrollbar-color: var(--main-font) var(--background);
  scrollbar-width: thin;
  font-size: var(--font-xs);
}
.bottomRow{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.reviewerInfo{  
  display: flex;
  align-items: flex-end;
  img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 8px;
  }
}

#filled{
  color: var(--main-contrast)
}

hr{
  width: 100%;
  color: var(--main-font);
}