.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.slideContainer{
  display: flex;
  align-items: center;
  width: 100%;
}

.navButton{
  padding: 4px; 
  i{
    font-size: var(--font-xl);
    opacity: .7;
  }
}

.bookselection {  
  display: flex;
  overflow-x: hidden;
  scroll-behavior:smooth;
  scrollbar-color: var(--main-font) var(--background);
  scrollbar-width: thin;
  font-size: var(--font-xs);
}