form{  
  /* background-color: var(--background); */
  display: flex;
  flex-direction: column;
  padding: 8px;
}

input, textarea {
  border-radius: 4px;
  border: none;
  margin: 4px 0;
  padding: 4px;
  box-shadow: var(--shadow);
  background-color: var(--background);
}

.starSelect{
  display: flex;
  flex-direction: row;
}

.formHeader{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

textarea{
  height: 80px;
  overflow-y: auto;
  margin-bottom: 16px;
}

input[type=radio] {
  position: fixed;
  width: fit-content;
  display: none;  
  i{
    font-size: var(--font-m);
  }
}

input[type=radio]:checked ~ label{ 
  color: var(--main-font);
}

input[type=radio]:checked + label, input[type=radio] ~ label{ 
  color: var(--main-contrast);
}

