.container {
  padding-bottom: 60px;
  i{
    color: var(--main-font);
  }
}

.profileInfo{
  display: flex;
}

.editProfileData{
  display: flex;
  align-items: center;
  i{
    font-size: var(--font-l);
  }
}

.profileAvatar{
  width: 150px;
  height: 150px;
  background-color: var(--background);
  padding: 4px;
  border-radius: 50%;
}

.profileName{
  padding: 0 8px;
}

.friendsContainer{  
  padding: 0 8px;
  font-weight: 600;
}

.listContainer{
  display: flex;
  justify-content: space-between;
}

.list{
  width: 48%;
}

.listTitle{
  color: var(--main-font);
  font-size: var(--font-l);
  font-weight: 600;
  background-color: var(--main-contrast);
  border-radius: 8px 8px 0 0;
  padding: 8px 16px;
}

.listContent{
  font-size: var(--font-m);
  background-color: white;
  padding: 8px 2px;
  border-radius: 0 0 8px 8px ;
}


.userIcon{
  font-size: 100px;
}


.popoverMessage{
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .9;
  background-color:var(--main-font);
  padding: 8px;
  font-size: large;
  font-weight: 600;
  border-radius: 8px;
}

@media screen and (max-width: 450px){
  .container{
    width: 100%
  }

}