.container{
  background-color: white;
  color: var(--main-font);
  /* padding: 8px; */
}

button{
  margin: 4px;
  padding: 6px;
  border-radius: 8px;
  border: none;
  box-shadow: var(--shadow);
  background-color: var(--main-contrast);
  font-weight: 600;
  i{
    font-size: var(--font-l);
  }
}

.addToList:hover{
  /* color: white; */
  background-color: var(--background);
}

.bookContainer{
  display: flex;
  font-size: var(--font-m);
  padding: 0 8px;
  padding-bottom: 36px;
  img{
    width: 175px;
    height: 250px;
  }
}

.bookInfo{
  margin: 4px;
}

.bookTitle{
  font-size: var(--font-m);
  font-weight: 800;
}

.reviewContainerHeader{
  display: flex;
  justify-content: space-between;
  font-size: var(--font-l);
  font-weight: 700;
  margin-top: 24px;
  padding: 8px;
}