button{
  margin: 4px;
  padding: 6px;
  border-radius: 8px;
  border: none;
  box-shadow: var(--shadow);
  background-color: var(--main-contrast);
  font-weight: 600;
  i{
    font-size: var(--font-l);
  }
}

.addToList:hover{
  /* color: white; */
  background-color: var(--background);
}

.bookContainer{
  display: flex;
  background-color: var(--background);
  border-radius: 0 0 8px 8px;
  padding: 16px;
  font-size: var(--font-m);
  width: 100%;
  height: 50vw;
  img{
    width: 35%;
  }
}

.bookInfo{  
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  width: 65%;
}

.bookTitle{
  font-size: var(--font-m);
  font-weight: 800;
}

.bookDescription{
  width: 100%;
  overflow-wrap: break-word;
  overflow-y: auto;
  scrollbar-color: var(--main-font) var(--background);
  scrollbar-width: thin;
  font-size: var(--font-xs);
}

.reviewContainerHeader{
  display: flex;
  justify-content: space-between;
  font-size: var(--font-l);
  font-weight: 700;
  margin-top: 24px;
  padding: 8px;
  background-color: var(--main-contrast);
  border-radius: 8px 8px 0 0;
}

.reviewsContainer{
  background-color: var(--background);
  border-radius: 0 0 8px 8px;
  margin-bottom: 60px;
  padding: 8px;
}

.noReview{
  font-size: var(--font-m);
  font-weight: 700;
  padding-bottom: 32px;
}