.navContainer{
  width: 100%;
  color: var(--main-contrast);
  font-size: var(--font-l);
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 24px;
  box-shadow: var(--shadow);
}

.logoContainer{
  display: flex;
  align-items: flex-end;
}

.logoTitle{
  padding: 8px;
  padding-bottom: 0;
  font-size: var(--font-l);
}

.links{
  display: flex;
  align-items: center;
  font-size: var(--font-xs);
}

.links> *{
  padding: 8px;
  padding-bottom: 0;
  font-weight: 700;
}

.userLinks{
  display: flex;
  justify-content: right;
  padding: 8px;
  padding-bottom: 0;
  border-radius: 8px;
  i{
    font-size: var(--font-l);
  }
}

.userLinks:hover{
  .userDropDown{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: white;
    a:hover{
      color: var(--main-contrast);
      background-color: var(--background);
    }
  }
}

.userDropDown{
  display: none;
  position: absolute;
  box-shadow: var(--shadow);
  border-radius: 4px;
  /* border: solid 2px var(--background  ) ; */
  a{
    text-align: right;
    padding: 8px;
    width: 120px;
  }
}

.linksMobile{
  display: none;
}

@media screen and (max-width: 860px){
  .navContainer{
    flex-direction: column;
    align-items: center;
  }

}

@media screen and (max-width: 450px){
  .navContainer{
    padding: 0;
  }

  .logoImage{
    width: 50px;
  }

  .links{
    display: none;
  }

  .linksMobile{
    display: flex;
    align-items: center;
    font-size: var(--font-xs);
    margin-right: 16px;
  }
}