.navContainer{
  width: 100%;
  color: var(--main-contrast);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 24px;
  box-shadow: var(--shadow);
}

.mainBar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logoContainer{
  display: flex;
  align-items: flex-end;  
  font-size: var(--font-xl);
}

.logoImage{
  width: 50px;
  margin: 8px;
}

.logoTitle{
  font-weight: 700;
  color: var(--main-font);
}

.links{
  display: flex;
  align-items: center;
  font-size: var(--font-s);
  i{    
    color: var(--main-font);
  }
}

.links > *{
  padding: 8px;
  padding-bottom: 0;
}

.userLinks{
  display: flex;
  justify-content: right;
  padding: 8px;
  padding-bottom: 0;
  i{    
    font-size: var(--font-l);
  }
}

.userDropDown{
  display: none;
  box-shadow: var(--shadow);
  border-radius: 4px;
  a{
    display: flex;
    text-align: left;
    padding: 8px;
    width: 100px;
  }
}

.userLinks:hover{
  .userDropDown{
    display: block;
    position: absolute;
    left: 8px;
    background-color: var(--main-contrast);
    a:hover{
      color: var(--sub-font);
      background-color: white;
      border-radius: 4px;
    }
  }
}

.linksMobile{
  display: none;
  i{    
    color: var(--main-font);
  }
}

@media screen and (max-width: 450px){
  .navContainer{
    padding: 0 4px;
    flex-direction: row;
  }

  .mainBar{
    flex-wrap: wrap;    
    justify-content: space-around;
  }

  .logoImage{
    width: 50px;
  }

  .links{
    display: none;
  }

  .linksMobile{
    display: flex;
    align-items: center;
    font-size: var(--font-xs);
    margin-right: 16px;
  }
}