.cardContainer{
  display: flex;
  flex-wrap: wrap;
}

.pageTitle{
  font-size: var(--font-xl);
  font-weight: 700;
}

.booksHeader{
  display: flex;
  align-items: center;
}

select.sortSelect{
  height: 30px;
  border: none;
  border-radius: 4px;
  margin: 0;
  box-shadow: var(--shadow);
}

.form{
  margin: 8px;
}

@media screen and (max-width: 450px){
  .cardContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}