.container{
  /* background-color: var(--background); */
  padding: 16px;
  border-radius: 0 0 8px 8px;
}

form{  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

select.typeSelect{
  font-size: var(--font-m);
  border: none;
  border-radius: 4px 0 0 4px;
  margin: 0;
  box-shadow: var(--shadow);
}

input.searchInput{
  margin: 0;
  border-radius: 0;
}

button.searchButton{
  margin: 0;
  padding: 4px;
  border-radius: 0 4px 4px 0;
}

form > *{
  margin-right: 8px;
}

.cardContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 16px;
}

.searchResult{
  display: flex;
  justify-content: center;
  padding: 16px;
  font-size: var(--font-m);
  font-weight: 700;
}

@media screen and (max-width: 450px){
  form{  
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding: 8px;
  }

  .cardContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
  }
}